root = true

[syntax.txt]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false

[syntax_clrf.txt]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = false
